<!-- index.html -->
<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Picture worth 10,000 characters.</title>

        <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="./scripts/app.js"></script>

  </head>
  <body>
    <div class="col-sm-12">
      <div class="jumbotron">
        <div class="container">
          <div class="page-header">
            <h1>A Picture Worth 10,000 Characters <br></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-sm-3">
      <p><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/381445_10150457762608930_2041625759_n.jpg?oh=b879bc9c3ba3347839042e45dd01f037&oe=57B1C459"/></p><br>
    </div>
    <section id='Story-form' class="container">
     <div class="row">
     <div class="col-md-12 ">

       <form class="newlyPublished" id="newPub">
         <fieldset>

           <!-- Form Name -->
           <legend>Write a Story</legend>



           <!-- Text input: Pen Name-->
           <div class="form-group">
             <div class="col-md-4">
             <input id="pseudonym" name="pseudonym" type="text" placeholder="Pen Name" class="form-control input-md" required=""></input>

            </div>
           </div>


           <!-- Text input: email-->
           <div class="form-group">
             <div class="col-md-4" >
             <input id="email" name="email" type="text" placeholder="michaeljordan@abc.com" class="form-control input-md" required=""></input>

             </div>
           </div>
           <!-- Text input: Genre -->
           <div class="form-group">
             <div class="col-md-4">
             <input id="genre" name="genre" type="text" placeholder="Genre" class="form-control input-md" required=""></input>

            </div>
           </div>

           <!-- Text input: Title-->
           <div class="form-group">
             <div class="col-md-4">
             <input id="title" name="title" type="text" placeholder="Story Title" class="form-control input-md" required=""></input>

             </div>
           </div>

           <!-- Textarea: Story Content -->
           <div class="form-group">
             <div class="col-md-12">

               <textarea class="form-control" id="content" name="content" required="" placeholder="Write your story here!"></textarea>
             </div>
           </div>


           <!-- Button -->
           <div class="form-group">

             <div class="col-md-4">
               <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
             </div>
           </div>
         </fieldset>
       </form>
     </div>
     </div>
       </section>
       <h2>Published Stories</h2>
          </div>
        </div>

        <!-- albums! -->
        <div id= "publish">
          <script id="published-template" type="text/x-handlebars-template">





          <!-- one album -->
            <div class="row">

              <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">


                  <!-- begin album internal row -->


                      <div class="col-md-9 col-xs-12">
                        <ul class="list-group">
                          <li class="list-group-item">

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#story-{{_id}}">

                            <i>{{title}}</i>
                            </button>

                              Author:{{author.pseudonym}}
                             - Email:<u>{{author.email}}</u>
                             <li class="list-group-item">
                               <span class='story-genre'>Genre:{{genres}}</span>
                               <button type="editButton" class="btn btn-default btn-md"
                                data-toggle="modal" data-target="#myEditModal">
                                  <span class="glyphicon glyphicon-pencil"></span>
                               </button>
                               <button type="button" class="btn btn-danger btn-md" data-story-id="{{_id}}" >
                               <span class="glyphicon glyphicon-remove"></span></button>




                             </li>
                             <li class="list-group-item">
                               <span class='story-content'>{{content}}</span>
                             </li>
                           </div>
                          </div>
                         <!-- end of album internal row -->
                         <div class='panel-footer'>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <!-- end one album -->

                 <!-- Modal -->
                  <div class="modal fade" id="story-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                        </div>
                        <div class="modal-body">
                          {{content}}
                        </div>
                      </div>
                    </div>
                  </div>



                          <!-- modal to display edit window-->

                          <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel">
                            <div class="modal-dialog2" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myEditModalLabel">{{title}}</h4>
                                </div>
                                <div class="modal-body">
                                  <!-- Text input: Pen Name-->
                                  <form class = "editModalWindow" id= "editModalWindow">
                                    <input id="pseudonym" name="pseudonym" type="text" placeholder="Pen Name" class="edit-story-psdeudonym" required="">{{author.pseudonym}}</input>
                                    <input id="email" name="email" type="text" placeholder="michaeljordan@abc.com" class="edit-author-email" required="">{{author.email}}</input>
                                    <input id="genre" name="genre" type="text" placeholder="Genre" class="edit-story-genres" required="">{{genres}}</input>
                                    <input id="title" name="title" type="text" placeholder="Story Title" class="edit-story-title" required="">{{title}}</input>
                                    <textarea class="edit-story-content" id="content" name="content" required="" placeholder="Write your story here!">{{content}}</textarea>
                                    <button id="editButton" name="editButton" class="btn btn-primary">Submit Changes</button>
                                  </form>

                                </div>




      </script>
     </div>
    </section>
   </body>
  </html>
