<!-- index.html -->
<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Picture worth 10,000 characters.</title>

        <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="./scripts/app.js"></script>

  </head>
  <body>
    <div class="col-sm-12">
      <div class="jumbotron">
        <div class="container">
          <div class="page-header">
            <h1>A Picture Worth 10,000 Characters <br><small> until I think of a shorter name.</small></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-sm-3">
    <!-- https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjt_Z2atf7LAhUO12MKHQOtAIUQjRwIBw&url=http%3A%2F%2Fwww.buzzfeed.com%2Fmjs538%2F50-unexplainable-black-white-photos&psig=AFQjCNGufbRLDqUXgESPwQGGmRRcI2-hAQ&ust=1460182885241991 -->
      <p><img src="https://madeleineswann.files.wordpress.com/2012/08/wtf-photos-from-old-times-e1323722277454.jpg"/></p>
    </div> -->
    <section id='Story-form' class="container">
     <div class="row">
     <div class="col-md-12 ">

       <form class="newlyPublished" id="newPub">
         <fieldset>

           <!-- Form Name -->
           <legend>Write a Story</legend>



           <!-- Text input: Pen Name-->
           <div class="form-group">
             <div class="col-md-4">
             <input id="pseudonym" name="pseudonym" type="text" placeholder="Pen Name" class="form-control input-md" required=""></input>

            </div>
           </div>


           <!-- Text input: email-->
           <div class="form-group">
             <div class="col-md-4" >
             <input id="email" name="email" type="text" placeholder="michaeljordan@abc.com" class="form-control input-md" required=""></input>

             </div>
           </div>
           <!-- Text input: Genre -->
           <div class="form-group">
             <div class="col-md-4">
             <input id="genre" name="genre" type="text" placeholder="Genre" class="form-control input-md" required=""></input>

            </div>
           </div>

           <!-- Text input: Title-->
           <div class="form-group">
             <div class="col-md-4">
             <input id="title" name="title" type="text" placeholder="Story Title" class="form-control input-md" required=""></input>

             </div>
           </div>

           <!-- Textarea: Story Content -->
           <div class="form-group">
             <div class="col-md-12">

               <textarea class="form-control" id="content" name="content" required="" placeholder="Write your story here!"></textarea>
             </div>
           </div>


           <!-- Button -->
           <div class="form-group">

             <div class="col-md-4">
               <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
             </div>
           </div>
         </fieldset>
       </form>
     </div>
     </div>
       </section>
       <h2>Published Stories</h2>
          </div>
        </div>

        <!-- albums! -->
        <div id= "publish">
          <script id="published-template" type="text/x-handlebars-template">




          <!-- one album -->
            <div class="row">

              <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">


                  <!-- begin album internal row -->
                    <div class='row'>
                      <div class="col-md-3 col-xs-12 thumbnail -art">
                      </div>

                      <div class="col-md-9 col-xs-12">
                        <ul class="list-group">
                          <li class="list-group-item">

                              <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                              Launch demo modal</button> -->
                              <i>{{title}}</i>
                              Author:{{author.pseudonym}}
                             - Email:<u>{{author.email}}</u>
                             <li class="list-group-item">
                               <span class='story-genre'>Genre:{{genres}}</span>
                             </li>
                             <li class="list-group-item">
                               <span class='story-content'>{{content}}</span>
                             </li>
                           </div>
                          </div>
                         <!-- end of album internal row -->
                         <div class='panel-footer'>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <!-- end one album -->
               </script>
              </div>
             </section>
            </body>
           </html>

                             <!-- <button type="button" class="btn btn-default btn-md"
                             data-toggle="modal" data-target="#myEditModal">
                             <span class="glyphicon glyphicon-pencil"></span></button>  <span class="glyphicon glyphicon-remove"></span>
                         </span>
                          </li> -->



                          <!--modal to display edit window-->

                          <!-- <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel">
                            <div class="modal-dialog2" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myEditModalLabel">{{title}}</h4>
                                </div>
                                <div class="modal-body"> -->
                                  <!-- Text input: Pen Name-->

                                    <!-- <input id="pseudonym" name="pseudonym" type="text" placeholder="Pen Name" class="form-control input-md" required="">{{author.pseudonym}}</input>

                                    <input id="email" name="email" type="text" placeholder="michaeljordan@abc.com" class="form-control input-md" required="">{{author.email}}</input>

                                    <input id="genre" name="genre" type="text" placeholder="Genre" class="form-control input-md" required="">{{genres}}</input>

                                    <input id="title" name="title" type="text" placeholder="Story Title" class="form-control input-md" required="">{{title}}</input>

                                    <textarea class="form-control" id="content" name="content" required="" placeholder="Write your story here!">{{content}}</textarea>

                                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit Changes</button>

                                </div> -->


                                <!-- Modal to display story -->
                                <!-- Modal -->
        <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
              </div>
              <div class="modal-body">
                {{content}}
              </div>
            </div>
          </div>
        </div> -->
