
body {
background:url("../images/books.jpeg") no-repeat center center fixed;
  background-size: cover;
}

#bod {
  margin-top: 600px;
  background-color: white;
  z-index: 1
}

h2 {
  color: white
}

h1 {
  text-align: center;
  margin-top: 230px;
  font-size: 100px;
  color: white
}

#Story-form {
  text-align: center
}
